.custom-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
    font-family: 'Baloo Paaji', cursive;
    background: transparent;

    .logo {
        font-size: calc(24px + (34 - 24) * ((100vw - 300px) / 1300));
        text-decoration: none;
        color: $white;
    }

    .container {
        flex-grow: 1;
        min-height: 100px;
        display: flex;
        align-items: center;
        transition: all 0.3s ease;
    }

    .hamburger {
        margin-left: 20px;
        padding-top: 5px;

        .hamburger-inner,
        .hamburger-inner::before,
        .hamburger-inner::after {
            background: $white;
        }
    }

    .nav {
        list-style-type: none;
        padding-left: 0;
        display: flex;
        align-items: center;
        margin: 0;
        margin-left: auto;

        .item {
            margin: 0 10px;

            .link {
                color: $white;
                font-weight: 500;
                text-decoration: none;
                transition: color 0.3s ease;

                &:hover,
                &.active {
                    color: $primary;
                }
            }
        }
    }

    &.affix {
        background: $white;
        box-shadow: 0 2px 10px rgba(0,0,0,0.1);

        .logo {
            color: $primary;
        }

        .container {
            min-height: 65px;
        }

        .nav .item .link {
            color: $gray-600;
            &:hover,
            &.active {
                color: $primary;
            }
        }

        .hamburger-inner,
        .hamburger-inner::before,
        .hamburger-inner::after {
            background: $gray-600;
        }
    }

    @include media-breakpoint-up(md) {
        .nav {
            .item {
                opacity: 0;
                visibility: hidden;
                transform: translateY(-50px);
                transition: all 0.3s ease;
                &:nth-child(9) { transition-delay: 0s }
                &:nth-child(8) { transition-delay: .05s }
                &:nth-child(7) { transition-delay: .1s }
                &:nth-child(6) { transition-delay: .15s }
                &:nth-child(5) { transition-delay: .2s }
                &:nth-child(4) { transition-delay: .25s }
                &:nth-child(3) { transition-delay: .3s }
                &:nth-child(2) { transition-delay: .35s }
                &:nth-child(1) { transition-delay: .4s }
            }

            &.show {
                .item {
                    transform: translateY(0);
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }

    @include media-breakpoint-down(md) {
        .hamburger {
            margin-left: auto;
        }

        .nav {
            position: absolute;
            top: 100%;
            left: 0;
            background: $white;
            border-radius: 0 0 $card-border-radius $card-border-radius;
            flex-direction: column;
            width: 100%;
            margin: auto;
            display: block;
            border-bottom: 1px solid $border-color;
            padding: 13px;
            opacity: 0;
            visibility: hidden;
            transform: translateY(6px);
            transition: all, 0.3s;

            &.show {
                opacity: 1;
                visibility: visible;
                transform: translateY(0);
            }

            .item .link {
                padding: 7px 12px;
                display: block;
                color: $gray-600;
            }
        }
    }
}
